.cls-adhocList {
  .cls-personalized-filter {
    flex-direction: row-reverse;
    .cls-filter-dropdown {
      margin-left: 12px;
      button {
        margin-right: 0px;
        padding-inline: 7px;
      }
    }
  }

  .ant-card-body {
    padding: 20px 15px 12px;
  }

  .cls-sort-select {
    .ant-select-selector {
      border-radius: 13px;
      border-color: var(--t-primary);
    }
  }

  .cls-duration-left {
    padding: 1px 5px;
    border-radius: 3px;
    position: absolute;
    font-size: 12px;
    background-color: var(--t-pink-light);
    top: -10px;
    right: 25px;
    color: var(--ant-color-error);
    width: max-content;
  }

  
  .cls-carousel {
    padding-bottom: 35px;
    width: 100%;
    
    .slick-track {
      display: flex;
    }

    .slick-slide {
      max-width: 325px;
      min-width: 300px;
      flex-grow: 1;
      height: auto;
      div {
        &:has(.cls-card-span) {
          height: 100%;
        }
      }
      .cls-card-span, .ant-card {
        height: 100%;
      }
    }
    .ant-card-body {
      padding: 26px 7px 10px 0px;
    }

    .cls-status {
      background: red;
      color: black;
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 0px 6px 0 6px;
      font-size: 11px;
      font-family: var(--font-medium);
      padding: 2px 15px;
    }

    .cls-disrupted-total,
    .cls-reason {
      color: var(--t-grey-dark);
    }

    .ant-progress {
      display: flex;
      padding: 5px 10px 5px 0px;
    }

    .ant-progress-bg {
      height: 5px !important;
    }

    .cls-pending {
      line-height: 15px;
    }

    .slick-arrow {
      background-color: red;
    }
  }

  .cls-flight-number {
    &::before {
      content: "\e94f";
      font-family: "InfiIcons";
      color: var(--t-text-white);
      font-size: 82px;
      position: absolute;
      top: -34px;
      left: -1px;
    }

    span {
      position: relative;
      z-index: 1;
      color: var(--t-blue-lighter-bg);
      &.cls-cancelled {
        color: #FF5555;
      }
    }
  }

  .ant-table-wrapper {
    table {
      border-collapse: separate;
      border-spacing: 0px 17px;
      .ant-table-tbody>tr>td {
        border: unset;
        background: var(--t-container-bg);
        padding-block: 10px;
      }
      thead {
        tr {
          th {
            border-bottom: unset;
          }
        }
      }
    }
  }

  .ant-table .ant-table-container .ant-table-content table .ant-table-tbody tr td.ant-table-cell {
    padding: 10px 0px 10px 10px;
  }
}

.cls-history {
  .cls-list-title {
    color: var(--t-text-grey-lighter);
  }

  .cls-table-heading {
    color: var(--t-text-black);
  }

  .cls-primary-btn {
    width: 72px;
    font-size: 12px;
    font-family: var(--font-medium);
  }

  .ant-input {
    background-color: var(--t-white-bg);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cls-adhocList {
    padding: 0px;
    .cls-duration-left {
      top: -10px;
      right: 10px;
    }
    .cls-headerTitle {
      margin-bottom: 10px;
    }
    .cls-header-left {
      max-width: 100%;
      flex: 0 0 100%;
    }
    .slick-track {
      width: 100% !important;
    }
    .slick-slide {
      width: 100% !important;
      .cls-card-span {
        padding: 0px;
      }
      .ant-card-body {
        padding: 25px 10px 10px;
        margin-bottom: 15px;
      }
    }
    .cls-filter-col {
      padding-block: 10px;
    }
    .cls-flight-number {
      &::before {
        display: none;
      }
    }
    .cls-grey {
      padding-bottom: 10px;
      .ant-select {
        margin-top: 10px;
      }
    }
    .cls-personalized-filter {
      &.ant-row {
        justify-content: end;
        &:has(.ant-flex) {
          justify-content: space-between;
        }
      }
      .ant-flex {
        flex-wrap: wrap;
        justify-content: flex-start;
        .ant-typography-secondary {
          width: 100%;
        }
        .ant-space {
          padding-block: 10px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cls-adhocList {
    .slick-track {
      .slick-slide {
        width: 50% !important;
        margin-bottom: 20px;
        &:nth-child(even) {
          .cls-card-span {
            padding-right: 0px;
          }
        }
      }
    }
  }    
}

@media (min-width: 1025px) and (max-width: 1350px) {
  .cls-adhocList {
    .slick-track {
      .slick-slide {
        width: 33.33% !important;
        margin-bottom: 20px;
        &:nth-child(3n) {
          .cls-card-span {
            padding-right: 0px;
          }
        }
      }
    }
  }    
}
