.cls-logoImage {
    width: fit-content;
    display: flex;
    max-width: 100%;
    height: 35px;

    &.GF {
        height: 52px;
    }

    &.ADO {
        height: 42px;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .cls-logoImage {
        margin: auto;
    }
}