.cls-AdhocPNRList {
    .cls-carousel {
    padding-bottom: 35px;
    width: 100%;
    
    .slick-track {
      display: flex;
    }

    .slick-slide {
      // width: 308px;
      flex-grow: 1;
    }
    .ant-card-body {
      padding: 24px 0px 10px 5px;
    }

    .cls-status {
      background: red;
      color: black;
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 0px 6px 0 6px;
      font-size: 11px;
      font-family: var(--font-medium);
      padding: 2px 15px;
    }

    .cls-disrupted-total,
    .cls-reason {
      color: var(--t-common-dark-grey-color);
    }

    .ant-progress {
      display: flex;
      padding: 5px 10px 5px 0px;
    }

    .ant-progress-bg {
      height: 5px !important;
    }

    .cls-pending {
      line-height: 15px;
    }

    .slick-arrow {
      background-color: red;
    }
  }
  .cls-cluster-div {
    .ant-card-body {
      padding: 10px 20px;
    }
    .ant-radio {
      & ~ span {
        font-size: 15px;
        font-family: var(--font-regular);
        padding-inline: 10px;
      }
      .ant-radio-inner {
        background: transparent;
        &::after {
         background-color: #0C28A8; 
         transform: scale(0.5);
        }
      }
    }
    .ant-radio-checked {
      & ~ span {
        font-family: var(--font-medium);
        color: #0C28A8;
      }
    }
    .ant-radio-button-wrapper {
      height: max-content;
      background-color: unset;
      padding: unset;
      border: unset;
      border-radius: 10px;
      width: 100%;
      &:not(:first-child)::before {
        display: none;
      }
    }
    .ant-card {
      border: 2px solid transparent;
    }
    .ant-radio-group {
      .ant-radio-button-checked ~ span {
        .ant-card {
          border: 2px solid #0C28A8;
        }
      }
    }
  }
}
