.cls-upcoming-event-container {
    max-height: 300px;
    border-radius: 15px;
  
    .cls-upcoming-event-title {
      color: var(--t-primary);
    }
  
    .ant-card-body {
      padding: 10px 12px;
    }
  
    .cls-db-event-ele {
      margin-block-start: 10px;
      background-color: var(--t-primary-lt);
      color: var(--t-black-bg);
      border-radius: 15px;

      .cls-time{
        color: var(--t-black-bg) !important;
      }
    }
  
    .cls-ad-img {
      filter: grayscale(var(--t-image-greyScale));
    }
  }