.cls-planBLayout {
  min-height: 100vh;
  .ant-layout-header {
    line-height: unset;

    .container {
      height: 100%;
      padding: 0px 28px;
      align-items: center;
      box-shadow: 2px 4px 9px 0px #0000000f;
      justify-content: space-between;

      a[title=""] {
        display: inline-block;
      }
    }
  }
  .ant-layout {
    padding-top: 0px;
  }
  .cls-float-popup {
    width: 100%;
    left: 0px;
    padding-inline: 30px;
  }

  .cls-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    // height: 78px;
    box-shadow: 0px 3px 5px 0px var(--t-header-boxshadow);
    background-color: var(--t-white-bg);
    top: 0;
  }
  .ant-layout-has-sider {
    .layout {
      margin-inline-start: 89px;
      padding: 0px 0px;
      height: max-content;
    }
  }
  .cls-logo-container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
  }
  .layout {
    height: max-content;
    padding: 0;
  }
  .content {
    padding: 0;
    margin: 0;
    min-height: 280;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cls-planBLayout {
    &.ant-layout {
      .ant-layout-header {
        .container {
          padding-inline: 15px;
        }
      }
    }
    .cls-innerLayout {
      padding: 15px;
      &:has(.cls-planB-container) {
        padding: 0;
      }
    }
  }
}